.root {
    -fx-border-color: red;
    -fx-background-color: greenyellow;
}

.array-view {
    -fx-border-color: deeppink;
    -fx-border-width: 15px;
    -fx-padding: 20;
    -av-array-offset: 30;
    -av-min-value-width: 10;
    -av-max-value-width: 50;
}

.array-view .name {
    -fx-font-family: "Verdana";
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-opacity: 0.7;
}

.array-view .value-graph {
    -fx-padding: 2px 0px;
    -av-value-offset: 10px;
}

.array-view .value-graph .value {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
}

.array-view .value-graph .active {
    -fx-fill: cornflowerblue;
}

.array-view .value-graph .stale {
    -fx-fill: transparent;
}

.array-view .value-graph .variable {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
    -fx-fill: darkred;
}

.array-view .value-graph .label {
    -fx-font-family: "Verdana";
    -fx-font-size: 20px;
    -fx-fill: greenyellow;
}

.array-view .moving-value {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
    -fx-fill: cornflowerblue;
    -fx-opacity: 0.7;
}